language: r
os: linux
cache: packages

install:
- Rscript -e 'install.packages(c("Rcpp","testthat","covr","tractor.base","oro.nifti"))'

script:
- R CMD build .
- R CMD check *tar.gz
- cd standalone && make clean && make CC="$(R CMD config CC)" CXX="$(R CMD config CXX)" && ./nii_info ../inst/extdata/example.nii.gz && ./nii2_info ../inst/extdata/example.nii.gz

after_success:
  - Rscript -e 'covr::coveralls()'
